body {
    background-image: linear-gradient(to right, blue, pink);
    border: solid;
    padding: 20px 160px;
}

p {
    text-align: justify;
    text-justify: inter-word;
    line-height: 1.6;
    font-size: 20px;
}